<meta charset="UTF-8">
{include file="header.html"}
{include file="menu.html"}

<div class="cont" style="">
    <h2>Detalle de venta</h2>
    <form id="sesion" method="post" action="Ventas.php">
        <label> Nombre Cliente</label><br/>
        <input type="text" id="nombre" name="nombre" onblur="validaNombre(this.value)" required><br/>
        <label> Seleccione Producto</label><br/>
        <select onchange="cargarPrecio(this.value);" name="idproducto" required> 
            <option value="">seleccione</option> 
            {foreach from=$productos item=gmtr} 
            {if $gmtr.cantidad > 0}
            <option  value="{$gmtr.id_producto}">{$gmtr.nombre}</option>
            {/if}
            {/foreach} 
        </select><br/>
        {foreach from=$productos item=gmtr} 
        <input type="hidden"  id="val_{$gmtr.id_producto}" value="{$gmtr.Precio}">
        <input type="hidden"  id="can_{$gmtr.id_producto}" value="{$gmtr.cantidad}">
        {/foreach}
        <input type="hidden" id="can_pro" name="can_pro" value="">
        <label> Precio</label><br/>
        <input type="text" id="precio" name="precio" readonly required><br/>
        <label> Cantidad</label><br/>
        <input type="text" id="cantidad" onblur="subtotal(parseInt(this.value))" name="cantidad" required><br/>
        <label> Sub Total</label><br/>
        <input type="text" id="sub" name="sub" readonly><br/>
        <label> IVA</label><br/>
        <input type="text" id="iva" name="iva" onblur="caliva(parseInt(this.value))"><br/>
        <label> Precio + IVA</label><br/>
        <input type="text" id="impuestos" name="impuestos" readonly><br/>
        <label> Descuento</label><br/>
        <input type="number" id="iva" name="descuento"  onblur="caltotal(this.value)"><br/>
        <label> Total</label><br/>
        <input type="text" id="total" name="total" readonly><br/>
        <input type="submit" value="CREAR PRODUCTO">
    </form>
    {$tabla_html}
</div>
<script>
    function cargarPrecio(id) {
        var precio = '';
        var cantidad = '';
        precio = $("#val_" + id).val();
        cantidad = $("#can_" + id).val();
        $("#precio").val(precio);
        $("#can_pro").val(cantidad);
        $("#sub").val('');
        $("#cantidad").val('');
    }
    function validaNombre(nombre) {
        if (nombre.toLowerCase() == 'brayan' || nombre.toLowerCase() == 'brayan') {
            alert("Al " + nombre.toUpperCase() + " no se le puede vender");
            $("#nombre").val('');
        }
        if (nombre.toLowerCase() == 'julieth') {
            alert("A la " + nombre.toUpperCase() + " no se le puede vender");
            $("#nombre").val('');
        }
    }
    function subtotal(val) {
        if (val > $("#can_pro").val()) {
            alert('Supera la cantidad en inventario maximo para compra ' + $("#can_pro").val());
            $("#sub").val('');
            return false;
        }
        if (val > 0) {
            var precio = '';
            precio = $("#precio").val() * val;
            $("#sub").val(precio);
        }
    }

    function caliva(iva) {
        if (iva > 0) {
            var precio = '';
            precio = (($("#sub").val() * iva) / 100 + parseInt($("#sub").val()));
            $("#impuestos").val(precio);
        } else {
            $("#impuestos").val($("#precio").val());
        }
    }
    function caltotal(valor) {
        if (valor <= $("#impuestos").val) {
            var des = '';
            des = ($("#impuestos").val() - valor);
            $("#total").val(des);
        } else {
            $("#total").val($("#impuestos").val());
            alert('descuento no valido');
        }
    }
</script>
</body>
</html>        